@charset "UTF-8";
/* CSS Document */

body{ margin:0px;}

.container{background-color:salmon;
width:100%;
	min-height: 300px;
}

	@media(min-width:768px){.container{background-color: blue;
		width:750px;
		margin: 0px auto;
		}}

@media(min-width:992px){.container{background-color: purple;
	width:960px;}}
